# 依赖
node_modules
.pnpm-store

# 编译产物
dist
*.tsbuildinfo

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo
*~
.DS_Store

# 测试覆盖率
coverage
*.lcov
.nyc_output

# 临时文件
*.tmp
.cache